@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  line-height: 1.3;
  background: #e6e8f4;
}

/* svg > path {
  width: 100%;
  height: 100%;
} */
* {
  -webkit-font-smoothing: antialiased;
}
@layer components {
  .container {
    @apply mx-auto my-0   w-full max-w-[970px];
  }
}
